<div class="container main-container">
  <header>
    <a href="/" class="logo-link"><img class="logo" src="/assets/images/header.gif"></a>
    <nav>
      <img class="hr-img" src="/assets/images/hr.gif">
      <ul class="nav-actions">
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Join Us</a></li>
      </ul>
      <img class="hr-img" src="/assets/images/hr.gif">
    </nav>
  </header>

  <div class="hero">
    <img class="hero-img" src="/assets/images/cat.png">
  </div>

  <p class="intro-para"><em>KOAN LABS</em> is a collective of engineers, developers, artists, and hackers. Sort of like the Wu-Tang clan but for consulting. We cover eachother’s weaknesses for a whole that’s far greater than the sum of it’s parts. Our multidisciplinary approach helps us bring innovative solutions to tough problems. <em>If you’re stumped, <a href="#">drop us a line</a>, we’d love to help.</em></p>

  <img class="hr-img" src="/assets/images/hr.gif">

  <p><em>Here</em> are some things we’re really good at.</p>

  <!-- <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div> -->

</div>
