/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$blue: #3f4052;
$white: #f9f9f9;

html, body, .main-viewport, .main-container {
  min-height: 100%;
}

body {
  background: $blue;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1.page-title {
  margin-bottom: 30px;
}

.main-container {
  background: $white;
  max-width: 950px;
  height: 100%;

  padding: 25px 50px 200px;

  nav {
    margin: 15px 0;
  }
}

.logo-link {
  display: block;
}

.intro-para {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 820px;
}

.nav-actions {
  display: flex;
  justify-content: center;

  font-size: 28px;
  font-family: 'Abel', sans-serif;

  li {
    color: black;
    margin: 0 10px;
    text-transform: uppercase;
  }
}

label, .control-label {
  font-weight: normal;
  font-size: 14px;
}

// Some crap I don't care about but don't care to remove

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// End of crap

@media screen and (max-width: 768px) {
  .main-container {
    margin: 30px 15px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
